## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
build-cli/
*.b#*
*.s#*
semantic.cache
*.bak
*.000
$savepcb.brd
*cache.lib
*.ps
*.o
*.bin
*.map
